body {
  font-family: 'Open Sans', sans-serif;
}

/* mix */
ul {
  margin-bottom: 0;
  list-style: none;
}

a:focus, a:hover {
  text-decoration: none;
  color: #0070c8;
}

.bg_lightgrey {
  background-color: rgba( 250, 250, 250, 1 );
}
/* /mix */

/* typo */
h1 {
  font-size: 100px;
  color: black;
  font-weight: bold;
  padding-top: 30px;
}

p {
  font-size: 18px;
}
/* /typo */

/* header */
/* navigazione superiore */
.header_top {
  line-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.main_nav, .secondary_nav {
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.header_top img {
  height: 14px;
}

.header_top li {
  margin-right: 30px;
}

.main_nav li a {
  letter-spacing: 1px;
}

.header_top li a {
  color: black;
  text-decoration: none;
  display: inline-block;
}

.header_top .secondary_nav button {
  line-height: normal;
  border: 0;
  background-color: white;
  border-left: 1px solid rgb(155, 155, 155);
  border-right: 1px solid rgb(155, 155, 155);
  padding: 0 8px;
  margin-left: 20px;
}

.secondary_nav li {
  margin-right: 0;
}

#login {
  line-height: normal;
  font-size: 13px;
  text-transform: initial;
  color: white;
  background-color: black;
  padding: 10px 24px;
  font-weight: bold;
}

.menu {
  display: none;
}

.menu i {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}
/* /navigazione superiore */

/* hero */
.hero {
  margin-top: 60px;
}

.hero .hero_img {
  width: 100%;
}
/* /hero */
/* /header */

/* corpo del progetto */
main {
  margin-top: 80px;
}
/* sezione best products */
.product_container {
  width: 100%;
  padding: 70px 20px 30px 20px;
  margin-bottom: 30px;
}

.product_container .product_logo {
  height: 23px;
}

.product_container p {
  margin: 40px 0;
}

main .product_container a {
  color: #0070c8;
  font-size: 18px;
  display: block;
}

main .product_container img {
  max-height: 280px;
  margin-top: 20px;
}
/* /sezione best products */

/* sezione how */
.how_up {
  height: 500px;
  width: 100%;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.how_down_container {
  margin: auto;
  width: 70%;
  position: relative;
}

.boxes_banner {
  display: inline-block;
  position: relative;
  width: calc( 100% / 3 );
  vertical-align: bottom;
}

.boxes_banner img {
  max-height: 510px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.first_box {
  left: calc(100% / 3);
  height: 200px;
}

.second_box {
  right: calc(100% / 3);
}


.second_box {
  padding: 0 20px 45px 20px;
}

.third_box {
  padding: 0 40px 60px 50px;
}

.second_box h2 {
  font-size: 35px;
  font-weight: bolder;
}

.third_box h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* /sezione how */
/* /corpo del progetto */

/* footer */
footer {
  background-color: black;
  padding-top: 80px;
  color: white;
}

.footer_up .white_logo {
  height: 20px;
}

.footer_up h2 {
  font-size: 42px;
  font-weight: bold;
  margin-top: 120px;
}

.footer_up h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
}

.footer_up ul {
  padding: 0;
  list-style: none;
}

.footer_up ul li {
  margin-bottom: 13px;
}

.footer_up ul a {
  color: white;
  font-size: 16px;
}
/* /footer */


/* responsive */
@media screen and (max-width: 1200px) {

  h1 {
    font-size: 80px;
  }

}

@media screen and (max-width: 992px) {

  .main_nav, .secondary_nav {
    display: none;
  }

  .menu {
    display: block;
  }

  h1 {
    font-size: 65px;
  }

  .how_down_container {
    width: 100%;
  }

  .first_box {
    width: 40%;
  }

  .second_box, .third_box {
    width: 30%;
  }

  /* footer */
  .service {
    margin-bottom: 120px;
  }

  .footer_up h2 {
    margin-bottom: 50px;
    padding-right: 53%;
  }
}

@media screen and (max-width: 768px) {
  .boxes_banner {
    width: 100%;
  }

  .first_box, .second_box {
    left: 0;
  }

  .first_box {
    margin-bottom: 50px;
  }

  .second_box h2 {
    font-size: 40px;
  }

  .third_box h3 {
    font-size: 27px;
  }

  .third_box p {
    font-size: 23px;
  }

  .footer_up h2 {
    font-size: 32px;
  }
}

@media screen and (max-width: 600px) {
  .hero .hero_img {
    display: none;
  }
}
