body {
  font-family: 'Open Sans', sans-serif;
}

/* mix */
ul {
  margin-bottom: 0;
  list-style: none;
}

a:focus, a:hover {
  text-decoration: none;
  color: #0070c8;
}

.bg_lightgrey {
  background-color: rgba( 250, 250, 250, 1 );
}
/* /mix */

/* typo */
h1 {
  font-size: 100px;
  color: black;
  font-weight: bold;
  padding-top: 30px;
}
/* /typo */

/* header */
/* navigazione superiore */
.header_top {
  line-height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.main_nav, .secondary_nav {
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.header_top img {
  height: 14px;
}

.header_top li {
  margin-right: 30px;
}

.main_nav li a {
  letter-spacing: 1px;
}

.header_top li a {
  color: black;
  text-decoration: none;
  display: inline-block;
}

.header_top .secondary_nav button {
  line-height: normal;
  border: 0;
  background-color: white;
  border-left: 1px solid rgb(155, 155, 155);
  border-right: 1px solid rgb(155, 155, 155);
  padding: 0 8px;
  margin-left: 20px;
}

.secondary_nav li {
  margin-right: 0;
}

#login {
  line-height: normal;
  font-size: 13px;
  text-transform: initial;
  color: white;
  background-color: black;
  padding: 10px 24px;
  font-weight: bold;
}

.menu {
  display: none;
}

.menu i {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}
/* /navigazione superiore */

/* hero */
.hero {
  margin-top: 60px;
}

.hero .hero_img {
  width: 100%;
}
/* /hero */
/* /header */

/* corpo del progetto */
main {
  margin-top: 80px;
}
/* sezione best products */
.product_container {
  width: 100%;
  padding: 70px 20px 30px 20px;
  margin-bottom: 30px;
}

.product_container .product_logo {
  height: 23px;
}

.product_container p {
  font-size: 18px;
  margin: 40px 0;
}

main .product_container a {
  color: #0070c8;
  font-size: 18px;
  display: block;
}

main .product_container img {
  max-height: 280px;
  margin-top: 20px;
}
/* /sezione best products */
/* /corpo del progetto */

/* responsive */
@media screen and (max-width: 1200px) {

  h1 {
    font-size: 80px;
  }

}

@media screen and (max-width: 992px) {

  .main_nav, .secondary_nav {
    display: none;
  }

  .menu {
    display: block;
  }

  h1 {
    font-size: 65px;
  }


}

@media screen and (max-width: 600px) {
  .hero .hero_img {
    display: none;
  }
}
